
@media (max-width: 414px) {
	body{
		background:url('../img/mobile/bg_login.jpg') no-repeat;
	}
	.container{
		width:95%;
		margin:100px auto;
		padding:35px 15px;
	}
	.register{
		margin:5px auto;
	}
}
@media (min-width: 415px) and (max-width: 768px) {
	body{
		background:url('../img/desktop/bg_login.jpg') no-repeat;
	}
	.container{
		width:65%;
		margin:150px auto;
		padding:35px 15px;
	}

	.register{
		margin:5px auto;
	}
}
@media (min-width: 769px) and (max-width: 1366px) {
	body{
		background:url('../img/desktop/bg_login.jpg')
	}
	.container{
		width:35%;
		margin:150px auto;
		padding:25px 15px;
	}
	.register{
		margin:50px auto;
	}
}

.container{
	border:1px solid silver;
	-webkit-box-shadow: 0 10px 10px -10px #ccc;
	-moz-box-shadow: 0 10px 10px -10px #ccc;
	box-shadow: 0 10px 10px -10px #ccc;
	background: transparent;
}