html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
html input, html button, body input, body button,body select {
    border: 1px solid silver;
    padding:7px;
    border-radius: 5px;
    width:100%;
}
html input:focus, html button:focus, body input:focus, body button:focus select:focus {
    outline: none;
}
html p, body p {
    padding: 0;
    margin: 0;
}
html div, body div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: #ccc;
}
::-moz-placeholder {
    color: #ccc;
}
:-ms-input-placeholder {
    color: #ccc;
}
:-moz-placeholder {
    color: #ccc;
}

@media (max-width: 414px) {
    .main{
        max-width: 414px;
    }
}
@media (min-width: 415px) and (max-width: 768px) {
    .main{
        min-width:415px;
        max-width: 768px;
    }
}
@media (min-width: 769px) and (max-width: 1366px) {
    .main{
        min-width:769px;
        max-width: 1000px;
    }
}

.main{
    width:100%;
    box-shadow: 0 10px 10px -10px #ccc;
    -webkit-box-shadow: 0 10px 10px -10px #ccc;
    -moz-box-shadow: 0 10px 10px -10px #ccc;
    padding:15px;
    border:1px solid #ccc;
    margin:50px auto;
}

.first{
    background: url('../img/desktop/bg_login.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

