.pb-5{
	padding-bottom: 5px;
}
.pb-10{
	padding-bottom: 10px;
}

.pb-15{
	padding-bottom: 15px;
}

.pb-20{
	padding-bottom: 20px;
}

.pr-5{
	padding-right:5px;
}

.pr-10{
	padding-right:5px;
}

.mr-5{
	margin-right:5px;
}

.mr-10{
	margin-right:10px;
}


.btn-blue{
	/*background-color: #4caf50;*/
	background: transparent;
	border:1px solid #ccc;
	color:white;
	cursor: pointer;
	padding: 8px;
}

.btn-blue:hover{
	-webkit-box-shadow: 0 2px 6px -2px #ccc;
	-moz-box-shadow: 0 2px 6px -2px #ccc;
	box-shadow: 0 2px 6px -2px #ccc;
}

.link-primary{
	color:dodgerblue;
}

.error{
	color:#a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 5px;
}

.error ul{
	list-style: none;
	padding:0;
}

.error ul li{
	padding:10px;
}

.error-input{
	border-color: #a94442;
}

.success{
	color:#3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c5;
	border-radius: 5px;
	padding:15px;
	margin-bottom:20px;
}

.bg-4caf50{
	background-color: #4caf50;
}

a.btn-primary{
	/*background-color: deepskyblue;*/
	color:white;
	cursor: pointer;
	padding: 8px;
	border:1px solid #ccc;
	justify-content: center;
	align-content: center;
	display: flex;
	border-radius:5px;
	text-decoration: none;
}

a.btn-primary:hover{
	-webkit-box-shadow: 0 2px 6px -2px #ccc;
	-moz-box-shadow: 0 2px 6px -2px #ccc;
	box-shadow: 0 2px 6px -2px #ccc;
}

.table-style-1{
	width:100%;
	font-size: 14px;
	border:1px solid #ccc;
}

.table-style-1 tr:nth-child(odd){
	background-color: #f6f6f6;
}

.table-style-1 td{
	padding:5px;
	border-bottom:1px solid #ccc;
}
.table-style-1 tr:last-child td{
	border:none;
}

.captcha{
	border-radius: 5px;
	margin-left: 15px;
}

.require{
	color:orangered;
	font-size: 16px;
	vertical-align: sub;
}

.require + label{
	color:darkslategray;
}

span.title{
	font-size:13px;
	color:darkgray;
	float:left;
	width:90px;
	text-align: right;
	padding-right:10px;
}

@media (min-width: 769px) and (max-width: 1366px) {
	.table-style-1{
		padding:10px;
	}
}